NODE_ENV=development
PORT=3333
HOST=localhost

LOG_LEVEL=info
TZ=UTC

APP_KEY=Xk3mP9qR7tW2vY5zB8dF1gH4jL6nQ0sU
APP_URL=http://${HOST}:${PORT}
SESSION_DRIVER=cookie
APP_NAME=Resi

JWT_ACCESS_SECRET=ffcfa8dde15b5080e8464e510e15c8576e7b381442ad32499441def554016ba0830730985e08d78aa4cba28d7ce0b37a7932efd3af7f60d253a1d237750b13ab
JWT_REFRESH_SECRET=5e7228bbfa3d84aa805c1358bd9baaa211ca0df01eaa3738d0f5a3ccb6fd14b18e1f7429abd34666a7de4ba955ae23c717484718b9c01f15324f12770d28ddee
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"resi-5c32a",...}

FIREBASE_DATABASE_URL=https://resi-5c32a-default-rtdb.firebaseio.com

FIREBASE_PROJECT_ID=resi-5c32a

GOOGLE_APPLICATION_CREDENTIALS=./firebase/service-account.json

GOOGLE_CLIENT_IDS=xxx.apps.googleusercontent.com,yyy.apps.googleusercontent.com

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_DOCUMENTS_FOLDER=resi/owner-documents
CLOUDINARY_PROPERTIES_FOLDER=resi/properties

CRON_SECRET=7db8789b28c606995a5e5ed8e0ffb0b3e17f79974a2a23e9164dd4b852cdc73a

WAVE_API_KEY=
WAVE_WEBHOOK_SECRET=
WAVE_BASE_URL=https://api.wave.com
WAVE_CURRENCY=XOF

OTP_RATE_LIMIT_WINDOW_MINUTES=15
OTP_RATE_LIMIT_MAX=5

MESSAGING_PROVIDER=console
MESSAGING_PREFERRED_CHANNEL=sms
SMS_SENDER_ID=Resi
